#buddypress {
    #item-body {
        .item-list-tabs {
            ~ h3 {
                @extend .flocks-gd-screen-reader;
            }
        }
    }
    #geodir-wrapper-content {
        padding-top: 0;
        @media(max-width: 1200px) {
            float: none;
            margin-bottom: 50px;
        }
    }
    #reviewsTab {
        .comments-area {
            margin-top: 0;
            .comment-content {
                p {
                    margin-bottom: 0;
                }
                .edit-link {
                    margin-top: -27.5px;
                    position: absolute;
                    right: 0;
                }
            }
            ol.commentlist {
                margin-bottom: 0;
                li {
                    margin: 0 0 0 0rem;
                }
            }
        }
    }
    #geodir-main-content {
        .geodir_category_list_view {
            padding: 0 0 35px;
            > li {
                padding-top: 0;
                h3 {
                    font-size: 15px;
                }
            }
        }
    }
}
