.themepack_font_awesome_before {
    &:before {
        @include font_awesome('');
    }
}
.themepack_font_awesome_after {
    &:after {
        @include font_awesome('');
    }
}

.geodir-breadcrumb {
    #breadcrumbs {
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        display: inline-block;
    }
}



.flocks-gd-cover-image {
    .geodir-breadcrumb {
        margin: 3.5em auto 0;
        padding: 0;
        position: relative;
        z-index: 2;
        @media(max-width: 1200px) {
            margin: 0 auto 1.25em;
        }
        ul {
            li {
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                padding: 0;
                float: none;
            }
        }
    }
    &#cover-image {
        h1.entry-title {
            margin-top: 1em;
        }
        .heading-lead {
            margin-bottom: 25px;
        }
    }
}
