.themepack_font_awesome_before {
    &:before {
        @include font_awesome('');
    }
}
.themepack_font_awesome_after {
    &:after {
        @include font_awesome('');
    }
}

/* Text meant only for screen readers. */
.flocks-gd-screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.flocks-gd-screen-reader:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.geodir-breadcrumb {
    #breadcrumbs {
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        display: inline-block;
    }
}
.err-no-rating {
    width: 100%;
    color: #EF5350;
    background: #ffffff;
    font-size: 14px;
    border: none;
    border-left: 5px solid #EF5350;
    left: auto;
    @extend .flocks-geodirectory-body-font;
}
.error_msg_fix {
    @extend .err-no-rating;
    background: #f6f8f9;
    text-align: left;
    strong {
        font-weight: normal;
    }
}
.geodir_category_list_view li.no-listing,
.no-listing {
    @extend .err-no-rating;
    background: #f6f8f9;
    text-align: left;
    margin-left: 0;
    padding: 10px 15px;
    border-bottom: none;
    strong {
        font-weight: normal;
    }
}
.geodir-note {
    color: #FFC107;
}

.flocks-gd-cover-image {
    .geodir-breadcrumb {
        padding: 0;
        position: relative;
        z-index: 20;
        ul {
            li {
                color: #fff;
                opacity: 0.60;
                font-size: 14px;
                padding: 0;
                float: none;
                a {
                    color: #fff;
                }
            }
        }
    }
    &#cover-image {
        h1.entry-title {
            margin-top: 1em;
            @media(max-width: 1200px) {
                margin: 2.15em auto 1.5em;
            }
            + .geodir-breadcrumb {
                margin: 1.5em auto 0;
                @media(max-width: 1200px) {
                    margin: 0 auto 3.25em;
                }
            }
        }
        .heading-lead {
            margin-bottom: 25px;
            + .geodir-breadcrumb {
                margin: 1.5em auto 0;
                @media(max-width: 1200px) {
                    margin: 0 auto 3.25em;
                }
            }
        }
    }
}
