.geodir_map_container {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 0;

    &.stickymap {
        border: none!important;
        min-width: 370px;
        margin-top: -30px;
        top: auto!important;
        bottom: 0;
        .map_background {
            background: #f7f8f9 ;
            padding: 10px;
            border-radius: 0;
            box-shadow: 10px 25em 100px 12px #969696 ;
            border: 1px solid #eee;
        }
    }
    .map_background {
        position: relative;
        z-index: 1;
    }
    .main_map_wrapper {
        min-width: 100%;
        max-width: 100%;
        .geodir_marker_cluster {
            min-width: 100%;
            max-width: 100%;
        }
        .advmap_notloaded,
        .advmap_nofound {
            width: 100%;
            left: auto;
            background: #ffffff;
            border: none;
            border-left: 5px solid #EF5350;
            color: #EF5350;
            h3 {
                color: #999999;
                margin-bottom: 10px!important;
            }
            p {
                font-size: 12px;
                margin: 0;
            }
        }
    }

    // Map Category Filter button
    .map-category-listing-main {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        .map-category-listing {
            width: 100%;
            position: static;
        }

        .gd-trigger {
            background: rgba(0, 0, 0, 0.45);
            padding: 5px 9.5px;
            margin-right: 10px!important;
            margin-bottom: 10px;
            margin-bottom: 72px;
            left: 10px;
            right: auto;
            &.gd-triggeron {
                &:hover {
                    background: rgba(0, 0, 0, 1);
                }
            }
            &.gd-triggeroff {
                background: #000;
            }
        }
        .map_category {
            width: 300px;
            height: 100%;
            background: rgba(0, 0, 0, 0.87);
            @media(max-width: 480px) {
                width: 70%;
            }
            input[type="text"] {
                color: #999;
            }
            #geodir_map_v3_home_map_3_search_string {
                background: transparent;
                border-radius: 6px;
                &:focus {
                    color: #000;
                    background: #fff;
                    border-color: #e1e1e1;
                    &::-webkit-input-placeholder {
                       color: #999;
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                       color: #999;
                    }

                    &::-moz-placeholder {  /* Firefox 19+ */
                       color: #999;
                    }

                    &:-ms-input-placeholder {
                       color: #999;
                    }
                }
                &::-webkit-input-placeholder {
                   color: #fff;
                }

                &:-moz-placeholder { /* Firefox 18- */
                   color: #fff;
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                   color: #fff;
                }

                &:-ms-input-placeholder {
                   color: #fff;
                }
            }
            .main_list {
                padding-left: 0;
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-left: 25px;
                    margin-bottom: 10px;
                    list-style: none;
                    display: inline-block;
                    position: relative;

                    .group_selector {
                        position: absolute;
                        top: 2px;
                        left: 0;
                    }
                    label {
                        margin: 0;
                        img {
                            width: 20px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    // Full Screen button
    &.geodir-map-full,
    &.geodir-map-small {
        .map_background {
            .triggermap {
                background: rgba(0, 0, 0, 0.45);
                padding: 5px 9.5px;
                font-size: 15px;
                top: 84.5%;
                left: 10px;
                &:hover {
                    font-size: 15px;
                    background: rgba(0, 0, 0, 1);
                }
            }
        }
        .map_category {
            max-height: 100%!important;
        }
    }
}
.gd-map-osm {
    .advmap_notloaded {
        width: 100%;
        left: auto;
        background: #ffffff;
        border: none;
        border-left: 5px solid #EF5350;
        color: #EF5350;
    }
}

// Stickymap
.stick_trigger_container {
    .trigger_sticky {
        color: #fff;
        background: rgba(0, 0, 0, 0.45);
        margin-top: 30px;
        margin-right: 0;
        min-width: 30px;
        min-height: 30px;
        text-align: center;
        padding: 0;
        top: auto !important;
        bottom: 300px;
        @extend .themepack_font_awesome_before;
        &:before {
            width: 100%;
            font-size: 18px;
            display: inline-block;
            position: relative;
            top: 5.5px;
            left: 1px;
        }
        &:hover {
            background: rgba(0, 0, 0, 1);
        }
        &.triggeron_sticky {
            &:before {
                content: "\f067";
            }
        }
        &.triggeroff_sticky {
            margin-right: 20px;
            &:before {
                content: "\f00d";
                top: 4.5px;
            }
        }
    }
}
.loading_div {
    max-width: 100%;
}
// Full Screen Map
.body_fullscreen {
    .stick_trigger_container {
        position: absolute;
    }
    .geodir_map_container.geodir_map_container_fullscreen {
        .map_background .TopLeft {
            bottom: 0px;
        }
        .triggermap_fullscreen {
            background: #000000;
            top: auto !important;
            bottom: 40px;
            left: 10px !important;
            z-index: 999999!important;
        }
        .map-category-listing-main {
            .gd-trigger {
                margin-bottom: 45px;
                position: fixed;
                bottom: 35px;
            }
        }
    }
}

.geodir-bubble-meta-side {
    padding-top: 10px;
}
.geodir-bubble-meta-bottom {
    .geodir-addtofav {
        a {
            i {
                font-size: 15px;
            }
        }
    }
}
.geodir-bubble_desc {
    h2,
    h4 {
        @extend .flocks-geodirectory-heading-font;
    }
    .geodir_more_info {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        @extend .flocks-geodirectory-body-font;

        &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 0;
        }
        a {
            color: #22b5ce;
        }
        &.post_address,
        &.geodir_twitterusername {
            padding-left: 0;
        }
        &.gd_placecategory {
            width: 100%;
            display: inline-block;
            padding-left: 30px;
            position: relative;
        }
        &.geodir_timing {
            padding-left: 25px;
            .geodir-i-time {
                width: 100%;
                display: inline-block;
                position: relative;
            }
        }
        > ul {
            padding-left: 0;
            margin-bottom: 0;
            li {
                padding: 0 0 0 40px;
                border-bottom: none;
                list-style: none;
                position: relative;
                @extend .themepack_font_awesome_before;
                &:before {
                    content: "\f111";
                    font-size: 8px;
                    position: absolute;
                    top: 7.5px;
                    left: 25px;
                }
            }
        }
        &.geodir_property_features_checkbox {
            .geodir-i-select {
                width: 100%;
                display: inline-block;
            }
            ul {
                padding-left: 25px;
                margin-bottom: 0;
                li {
                    padding-left: 17.5px;
                    position: relative;
                    @extend .themepack_font_awesome_before;
                    &:before {
                        content: "\f111";
                        font-size: 8px;
                        position: absolute;
                        top: 4.5px;
                        left: 1.5px;
                    }
                }
            }
        }
        &.geodir-custom-file-box {
            i.fa {
                float: left;
            }
            .geodir-custom-post-gallery {
                width: 100%;
                margin: 15px 0 0;
                border: 1px #eee solid;
            }
        }
        i.fa {
            width: 15px;
            font-size: 14px;
            position: absolute;
            top: 1px;
            left: 5px;
        }
        > p {
            padding-left: 25px;
        }
        &.post_address {
            span {
                width: 100%;
                display: inline-block;
                padding-left: 30px;
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .geodir-i-location {
        ~ span {
            padding-left: 25px;
            position: relative;
            @extend .themepack_font_awesome_before;
            &:before {
                font-size: 14px;
                position: absolute;
                top: 1px;
                left: 5px;
            }
        }
        ~ span[itemprop="streetAddress"] {
            &:before {
                content: "\f018";
            }
        }
        ~ span[itemprop="addressLocality"] {
            &:before {
                content: "\f1ad";
            }
        }
        ~ span[itemprop="addressRegion"] {
            &:before {
                content: "\f277";
            }
        }
        ~ span[itemprop="postalCode"] {
            &:before {
                content: "\f276";
                left: 3.5px;
            }
        }
        ~ span[itemprop="addressCountry"] {
            &:before {
                content: "\f0ac";
            }
        }
    }
}
