.themepack_font_awesome_before:before, .geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span:before {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.themepack_font_awesome_after:after, .geodir-list-view-select:after, #propertyform .geodir_form_row .geodir-chosen-container .chosen-single div b:after, #propertyform .geodir_form_row .geodir-chosen-container .chosen-search:after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.geodir-breadcrumb #breadcrumbs {
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
}

.geodir-list-view-select {
  position: relative;
}

.geodir-list-view-select:after {
  content: "\f078";
  font-size: 8px;
  position: absolute;
  top: 15.5px;
  right: 15px;
}

.geodir-list-view-select select {
  color: #8e97ac;
  background: #f6f8f9;
  min-width: 220px;
  padding: 8.5px 15px;
}

#propertyform #geodir_fieldset_details {
  font-size: 18px;
  line-height: 1.6;
  border-bottom: 2px solid #22b5ce;
  display: inline-block;
}

#propertyform #geodir_post_mapview_row .geodir_user_define {
  width: 100%;
  display: inline-block;
}

#propertyform #geodir_post_address_row #post_address:focus + .gd-input-group-addon {
  border-color: #22b5ce;
}

#propertyform #geodir_post_address_row #post_address:focus + .gd-input-group-addon i {
  color: #22b5ce;
}

#propertyform #geodir_post_address_row .gd-input-group {
  position: relative;
  width: 100%;
}

#propertyform #geodir_post_address_row .gd-input-group .gd-input-group-addon {
  height: 34px;
  width: 35px;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 0;
  z-index: 4;
}

#propertyform #geodir_post_address_row .gd-input-group .gd-input-group-addon i {
  width: 100%;
}

#propertyform #geodir_post_address_row .gd-input-group .gd-input-group-addon i:hover {
  color: #22b5ce;
}

#propertyform #geodir_form_title_row {
  border-bottom: 0;
}

#propertyform #geodir_form_title_row small {
  color: #999;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  display: block;
}

#propertyform #geodir_form_title_row small:first-of-type {
  margin-top: 15px;
}

#propertyform #post_imagesdropbox {
  width: 100%;
  background: #f7f8fa;
  border: 1px solid #f1f1f1 !important;
  color: #b3b9c0;
  border-radius: 4px;
}

#propertyform #post_imagesdropbox h4 {
  margin-top: 20px;
}

#propertyform #post_imagesdropbox #post_imagesplupload-browse-button,
#propertyform #post_imagesdropbox #upload-msg {
  margin-bottom: 20px;
}

#propertyform #geodir_accept_term_condition_row label {
  display: none;
}

#propertyform #geodir_accept_term_condition_row .geodir_taxonomy_field #geodir_accept_term_condition {
  position: relative;
  top: 2.5px;
}

#propertyform #geodir-add-listing-submit .geodir_button {
  float: left;
}

#propertyform .geodir_form_row {
  padding: 0;
  margin-bottom: 15px;
}

#propertyform .geodir_form_row .geodir_textfield,
#propertyform .geodir_form_row .geodir_textarea,
#propertyform .geodir_form_row .chosen-search input[type="text"],
#propertyform .geodir_form_row #geodir_post_address_row #post_address {
  width: 100%;
  background: #f7f8fa;
  border: 1px solid #f1f1f1;
  color: #b3b9c0;
  border-radius: 4px;
  box-shadow: none;
}

#propertyform .geodir_form_row .geodir_textfield:focus,
#propertyform .geodir_form_row .geodir_textarea:focus,
#propertyform .geodir_form_row .chosen-search input[type="text"]:focus,
#propertyform .geodir_form_row #geodir_post_address_row #post_address:focus {
  border-color: #22b5ce;
  box-shadow: none;
}

#propertyform .geodir_form_row #gd_placecategory {
  min-width: 100%;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-single {
  color: #8e97ac;
  background: #f6f8f9;
  border: 1px solid #f1f1f1;
  height: auto;
  width: 100%;
  padding: 8.5px 15px;
  box-shadow: none;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-single div b {
  background: none;
  text-align: center;
  position: relative;
  right: 7.5px;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-single div b:after {
  content: "\f078";
  font-size: 12px;
  position: relative;
  top: 7.5px;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-search {
  position: relative;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-search:after {
  content: "\f002";
  font-size: 12px;
  position: absolute;
  top: 8.5px;
  right: 10px;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-drop {
  margin-top: -3px;
  border: 1px solid #22b5ce;
  background: #f6f8f9;
  border-top: none;
  width: 100.25%;
  margin-left: -0.5px;
}

#propertyform .geodir_form_row .geodir-chosen-container .chosen-results li.highlighted {
  background: #22b5ce;
}

#propertyform .geodir_form_row .geodir-chosen-container-active {
  border: 1px solid #22b5ce;
  border-radius: 6px;
}

#propertyform .geodir_form_row .geodir-chosen-container-active .chosen-single div b:after {
  content: "\f077";
}

#propertyform .geodir_form_row label {
  font-size: 14px;
  font-weight: 600;
}

#propertyform .geodir_form_row label span {
  color: #22b5ce;
}

#propertyform .geodir_form_row label,
#propertyform .geodir_form_row .geodir_message_error,
#propertyform .geodir_form_row .geodir_message_note {
  width: 100%;
  padding-left: 0;
  text-align: left;
  float: none;
}

#propertyform .geodir_form_row .geodir_message_error,
#propertyform .geodir_form_row .geodir_message_note {
  font-size: 12px;
}

#geodir-wrapper {
  padding: 0 15px 80px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  #geodir-wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #geodir-wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #geodir-wrapper {
    width: 1170px;
  }
}

.geodir_flex-container .geodir_flexslider {
  box-shadow: none;
  border: 1px solid #eee;
}

.geodir_flex-container .geodir_flexslider#geodir_slider {
  padding-bottom: 7.5px;
}

.geodir_flex-container .geodir_flexslider#geodir_carousel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.geodir_flex-container .geodir_flexslider#geodir_carousel li {
  border: none;
  border-right: 1px solid #eee;
}

.geodir_flex-container .geodir_flexslider#geodir_carousel li:last-of-type {
  border-right: 0;
}

#geodir-main-content .geodir_category_list_view {
  padding-left: 0;
}

#geodir-main-content .geodir_category_list_view li {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

#geodir-main-content .geodir_category_list_view li h3 a {
  color: #444;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
}

#geodir-main-content .geodir_category_list_view li .geodir-entry-content p {
  font-size: 14px;
}

#geodir-main-content .geodir_category_list_view li .geodir-addinfo a {
  font-size: 14px;
}

#geodir-main-content .geodir_category_list_view li .geodir-addinfo .geodir-pinpoint {
  min-width: 20px;
  min-height: 20px;
}

#geodir-main-content .geodir_category_list_view li .geodir-addinfo .geodir-addtofav a i {
  font-size: 14px;
  margin-right: 10px;
}

#geodir-main-content .geodir_category_list_view li .geodir-addinfo .geodir-pcomments i {
  font-size: 16px;
  margin-right: 8px;
}

#geodir-sidebar .geodir-sidebar-wrap .geodir-company_info {
  background: #f6f8f9;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
}

.geodir-sidebar-wrap .likethis {
  padding: 5px 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

.geodir-sidebar-wrap .likethis iframe.facebook, .geodir-sidebar-wrap .likethis iframe.twitter-share-button {
  max-width: 60px;
}

.geodir-sidebar-wrap .likethis div {
  max-width: 60px;
}

.geodir-sidebar-wrap .geodir-details-sidebar-google-analytics #ga_stats {
  width: 100%;
  display: inline-block;
}

.geodir-sidebar-wrap .geodir-details-sidebar-google-analytics #ga_stats #ga-analytics-title {
  margin-bottom: 15px;
}

.geodir-sidebar-wrap .geodir-details-sidebar-google-analytics #ga_stats #gd-active-users-container {
  width: 100%;
  margin-bottom: 0;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-location,
.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-contact,
.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-email,
.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-website {
  padding-left: 22px;
  display: inline-block;
  position: relative;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-location i.fa,
.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-contact i.fa,
.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-email i.fa,
.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-website i.fa {
  font-size: 15px;
  margin-right: 5px;
  position: absolute;
  top: 1.5px;
  left: 2.5px;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info .geodir-i-location i.fa:before {
  content: "\f041";
  position: absolute;
  left: 0;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] {
  display: inline-block;
  margin-bottom: 10px;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 22px;
  position: relative;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span:before {
  font-size: 15px;
  position: absolute;
  left: 0;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span[itemprop="addressLocality"]:before {
  content: "\f015";
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span[itemprop="addressRegion"]:before {
  content: "\f277";
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span[itemprop="postalCode"]:before {
  content: "\f276";
  left: 3.5px;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span[itemprop="addressCountry"] {
  margin-bottom: 0;
}

.geodir-sidebar-wrap .geodir-details-sidebar-listing-info span[itemprop="streetAddress"] ~ span[itemprop="addressCountry"]:before {
  content: "\f0ac";
}

#content .geodir_full_page .geodir-category-list-in {
  margin-top: 0;
}

/*# sourceMappingURL=themepack.css.map */